yacs
opencv-python
PyYAML
cython
cython-bbox
scipy
progress
motmetrics
matplotlib
lap
openpyxl
Pillow
tensorboardX
fvcore
pandas
timm==0.4.9
transformers==4.12.5
ruamel_yaml
scikit-image
audtorch
seaborn
prettytable
easydict
nltk
